@charset "UTF-8";
.detail-joinicon{
	width: 15%;
	heght: 15%;
}
#productsInfo{
	display: flex;
	
}
.elem-container{
	width: 64%;
	margin: 0 auto;
	margin-top: 100px;
}
body{
	
}

.witer-olny{
	float:right;
}
.report2{
	float:right;
	
}
.commentHead{
	padding:5px;
	background-color:#F9DCA3;
}

.comment-div{
	border: 1px solid lightgray;
	
}
#comments{
	
}
.comment-box{
	margin-bottom: 4px;
}
.commentBody{
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 10px
}
.commentcontent{
	width: 100%;
	height: 120px;
	resize: none;
	border: none;
	margin: 10px 14px;
}
.date{
	padding: 5px 10px;
}
.commentWriter{
	margin-left: 10px;
}